

* {
  margin: 0px;
  box-sizing: border-box;
}

a {
  display: inline-block;
}


input[type=text], textarea {
  
}

input[type=text] {
  padding: 5px;
  outline: none;
}

textarea {
  padding: 10px;
  outline: none;
}