.page-menu{
    background-color: #eeeeee;
    min-height: 100vh;
    padding: 2em;

     .button{
         padding: 10px 10px;
        background-color: #4b10aa;
        text-decoration: none;
        border-radius: 20px;
        transition:  background-color 1s;
        color: white;
        font-size: 15px;
     }
     .c2{
                 
     }
     .button:hover{
        background-color: #8740f8;
     }
    .c1{
        display: flex;
        flex-direction: column;

    }
    
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    body{
        background-color: rgb(214, 247, 236);
    }
    .sc1{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 500px;
        align-items: center;
        background-color: #C7A5FE;
        border-radius: 20px;
        transition:  .3s;
        
    }
    
    .sc1:hover{
        background-color: #4b10aa;
        transform: scale(1.05);
    }
    
    .img{
         height: 700;
         width: 500px;
        
    }
    
    .a{
        padding: 15px 20px;
        border: none;
        background-color: rgb(128, 96, 245);
        text-decoration: none;
        color: rgb(250, 250, 255);
        border-radius: 20px;
        transition:  background-color 1s;
    
    }
    .a:hover{
        cursor: pointer;
        background-color: rgb(151, 124, 248);
    }
    
}