.page-home{
    .k{
        margin-top: 1.5em;
        margin-left: 0.5em;
        color: rgb(10, 10, 10);
    }
    
    
    
    .containermae{
        display: flex;
        flex-direction: column;
        
       
    }
    .footer{
       display: flex;
       flex-direction:row ;
       background-color: rgb(42, 42, 48);
       height: 60vh;
       justify-content: space-around;
       padding: 2em;

    }
            
   
    .f{
        margin: 3em;
        display: flex;
        flex-direction: row;

    }
    .f1{
        
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .f3{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        justify-content: center;
    }

    .container1{
        display: flex;
        flex-direction: column;
        height: 85vh;
        background-image: url(../../../public/image/20471179.jpg);
        background-attachment: fixed;
        background-position: center bottom;
        
    }
    .container2{
        display: flex;
        flex-direction: column;
        height: 60vh;
        margin-top:1em;
        
    }
    .container3{
        display: flex;
        flex-direction: column;
        
    
    }
    .subcontainer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3em;
        padding: 1em;   
    }

    
    
    .subcontainer2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
    }
    
    .subcontainerx{
        margin-top: 4EM;
        display: flex;
        flex-direction: row;
        justify-content:start;
        margin-left: 3em;
    }
    .subcontainerx1{
        margin-top: 1EM;
        display: flex;
        flex-direction: row;
        justify-content:start;
        margin-left: 3em;
    }
    
    .subcontainer3{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;
      
    }
    .sub{
        display: flex;
        flex-direction: column;
        background-color:  #D7C5FF;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 60vh;
        padding: 2em;   
    }
    .textoarrumado{
        font-size: 26px;
        width: 820px;
        font-family: 'discord5';
    }
    
    .subcontainer4{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
    }
    
    .sub5{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 2em;
        height: 60vh;
    }
    .v1{
        text-align: center;
    }
    .v2{
        margin-top: 6em;
        text-align: center;
    }
    .v3{
    display: flex;
     flex-direction: row;
     text-align: center;
    }
    .v6{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color:  #D7C5FF;
        text-align: center;
        align-items: center;
        padding: 2em;
        height: 60vh;
    
    }
    .v7{
        margin-top: 3em;
    }
    .v8{
     display: flex;
     flex-direction: row;
     text-align: center;
     justify-content: space-evenly;
     height: 60vh;
     align-items: center;
    }
    
    
    
    .img1{
        height: 100px;
        width: 100px;
        border-radius: 70px;
        margin-top: 0.6em;
        margin-left: 0.6em;
        
    }
    
    .imgc{
        height: 70px;
        width: 70px;
        border-radius: 70px;
        
    }
    
    
    
    
    
    .img2{
        height: 400px;
         width: 400px;
    
    
    }
    .img3{
        height: 400px;
         width: 400px;
         margin-top: 2em ;
    
    
    }
    .img4{
        height: 400px;
         width: 400px;
    
    
    }
    
    .b1{
        padding: 12px 20px;
        border-radius: 30px;
        border: none;
        background-color: rgb(33, 47, 167);
        margin-top: 1em;
        margin-right: 0.6em;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
    }
    .b1:hover{
        cursor: pointer;
        background-color: rgb(218, 177, 245);
    
        padding:13px 21px ;
       
    }
    a{
        color: white;
        text-decoration: none;
    }
    
    .card{
        width: 300px;
        height: 510px;
        background-color: #C7A5FE;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(114, 113, 113, 0.7);
        transition:  background-color 1s;
    }
    .cardx{
        width: 300px;
        height: 510px;
        background-color: #C7A5FE;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(114, 113, 113, 0.7);
        transition:  background-color 1s;
    }
    
    .card:hover{
        width: 300px;
        height: 500px;
        background-color: #4b10aa;
       padding: 5px 5px;
       color: beige;
       
    }
    .cardx:hover{
        width: 300px;
        height: 500px;
        background-color: #4b10aa;
       padding: 5px 5px;
       color: beige;
    }
    .imgcard{
        height: 255px;
        width: 255px; 
    }
    
    .content{
        display: flex;
       
    
    }
    
    .c{
        margin-top: 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .a{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2em;
    }
    
    .containerx{
        margin-top: 5em;
        padding: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #D7C5FF ;
        height: 60vh;
    }
    .texto2{
        font-size: 26px;
        width: 900px;
        font-family: 'discord5';
    }


    .imgx{
        height: 400px;
        width: 400px;
       
    }
    .buttomText{
        font-family: 'discord5';
        line-height: 3px;
    }
    .ax{
        color: rgb(255, 255, 255);
        font-family: 'discord3';
    }
    .k{
        color: white;
    }
    h3{
        font-family: 'discord1';
        line-height: 3px;
        font-size: 60px;
        color: rgb(5, 5, 5);
    }
    
    p{
        font-family: 'discord5';
        line-height: 3px;
        font-size: 26px;
    }
    
    h1{
        font-family: 'discord5';
        line-height: 3px;
        font-size: 48px;
        color: #2C52AC;
        
    
    }
    h2{
        font-family: 'discord5';
        
        font-size: 25px;
    }
    
    
    span{
        font-family: 'discord5';
    }
    
    @media(max-width:500px)
{
     footer{
         display: flex;
         flex-direction: row;
     }
     .v2{
        margin: 0px;
     }
     .img2{
        height: 200px;
     }
     .container1{
        display: flex;
        flex-direction: column;
        height: 50vh;
        background-position: center;
     }
     .subcontainer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
     .subcontainer2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subcontainer3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
     .container2{
        height: 55vh;
     }

     .v8{
         padding: 2em;
         display: flex;
         flex-direction: column;
         height: 55vh;
     }
    .subcontainer4{
        display: flex;
        flex-direction: column;
    }
    .sub5{
        height: 60vh;
    }
    .sub{
        height: 40vh;
        display: flex;
        flex-direction: column;

    }
     .v6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        padding: 0;
     }

     .textoarrumado{
        font-size: 15px;
        width: 320px;
        font-family: 'discord5';
    }

     .containerx{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-color: #D7C5FF ;
        height: 55vh;
        font-size: 15px;
        font-family: 'discord5';
    }
    .texto2{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 15px;
        width: 420px;
        font-family: 'discord5';
    }

    h3{
        color: rgb(253, 253, 253);
        font-size: 30px;
    }  
    h1{
        margin-top: 1em;
        font-size: 22px;
        line-height: 30px;
    }
    p{
        line-height: 10px;
       font-size: 15px;

    }
    .img1{
     height: 79px;
     width: 80px;
     border-radius: 199px;
    }
    .img2{
        height: 255px;
         width: 255px;
    
    
    }
    .img3{
        height: 255px;
         width: 255px;
    
    
    }
    .img4{
        height: 255px;
         width: 255px;
    }
    .imgx{
        height: 255px;
        width: 255px;
       
    }
    .imgc{
        height: 30px;
        width: 30px;
        border-radius: 70px;
        
    }
    .card{
        margin-top: 2em;
    }
    .cardx{
        margin-top: 2em;
    }
 
    .c{
        display: flex;
        flex-direction: column;
       justify-content: center;
    }
 
     .a{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     .ax{
        font-size: 1.5em;
     }

}


   
    
}
@font-face {
    font-family: 'discord1';
   src: url('../../../public/fontes/1cce82154216dc3cb04a84d011ce1201.woff2');
}
 
@font-face {
    font-family: 'discord3';
    src: url('../../../public/fontes/3bdef1251a424500c1b3a78dea9b7e57.woff');
}
 
@font-face {
    font-family: 'discord4';
    src: url('../../../public/fontes/ae7c84783ad48b6d1c8e2bfbe707e0d4.woff2');
}
@font-face {
    font-family: 'discord5';
    src: url('../../../public/fontes/be0060dafb7a0e31d2a1ca17c0708636.woff');
}
 


