.page-consultar{
   
    .main{
      display: flex;
        flex-direction: column;  
        align-items: center;
        background-image: linear-gradient(100deg, rgb(8, 101, 241), rgb(56, 245, 166));
        height: 100vh;
    }
    .main2{
        display: flex;
        flex-direction: column;

    }
    .cx{
        display:flex;
        flex-direction: row;
        margin-top: 2em;
    }
    h1{
        font-size: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .c1{
        margin-top: 5em;
        display: flex;
        flex-direction: row;
    }
    .c3{
        margin-top: 1em;
        display: flex;
        flex-direction: row;
    }
    .bca{
        background-image: linear-gradient(100deg, rgb(8, 101, 241), rgb(56, 245, 166));
        align-items: center;
    }
    .b1{
        text-decoration: none;
        padding: 10px 12px;
        background-color:rgb(10, 7, 156);
       
        font-size: 15px;
        border-radius: 20px;
        border: none;
    }
    .b1:hover{
        background-color:rgb(27, 24, 182);
        cursor: pointer;
    }
        
    .c{
        text-decoration: none;
        color: white;
        font-family: 'discord5';
        font-size: 15px;
    }
    .btnome{
        padding: 12px 12px;
        background-color:rgb(2, 78, 243);
        color: white;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        font-family:monospace;
    }
    .btnome:hover{
        cursor: pointer;
        background-color:rgb(50, 112, 245);
    }

    .c2{
        margin-left: 2em;
    }
    img{
        height: 42px;
        margin-left: 1em ;
    }
    img:hover{
        cursor: pointer;
        height: 45px;
    }

    input{
        width: 20em;
        padding: 12px 15px;
        border-radius: 20px;
        border: none;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    
}