.page-cadrastro{
    background-image: linear-gradient(100deg, rgb(63, 243, 243), rgb(31, 77, 230));
  
    *{
        margin: 0px;
    }
    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .formulario1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5em;
    }
    .c2{
        margin-top: 2em;
       margin-left: 3px;
         
     }
     .DIB{
         align-items: flex-start;
     }
    
    .formulario2{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-self: end;
        align-items: center;
      
    
    }
    .formulario3{
        display: flex;  
        flex-direction: column;
        margin-top: 3em;
    }
    .cadrasto1{
        display: flex;
        flex-direction: column;
    }
    
    .cadrasto2{
        display: flex;
        flex-direction: column;
    }
    
    .titulo{
        font-size: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    h1{
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    h2{
        font-size: 25px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .c1{
        height: 9em;
        width: 60em;
        resize: none;
       
    }
    .x2{
        margin-top: 4em;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
    
    .button{
        padding: 10px 10px;
       background-color: #4b10aa;
       text-decoration: none;
       border-radius: 20px;
       transition:  background-color 1s;
       color: white;
       font-size: 15px;
    }
    .button:hover{
        padding: 12px 12px;
        background-color: #8740f8;
     }

    button{
        padding: 15px 20px;
        border-radius: 15px;
        text-align: center;
        border: none;
        background-color: #2848ff;
        color: white;
        align-items: center;
    }
    button:hover{
        cursor: pointer;
        background-color: #4c66f8;
        color: white;
    }
    
    textarea{
        border-radius: 10px;
        
        
    }
    
    
    
    
    
    .tagA{
        color: #FF6828;
        font-size: 24px;
    }
    
    
    
    
    
    .botao{
       
        align-items: center;
        justify-content: center;
        background-color: #2848ff;
        color: black;
        border: none;
        border-radius: 15px;
        margin-top: 15px;
        padding: 10px;
        
    
    
    
    }
    
    .botao:hover{
        background-color: #4c66f8;
        cursor: pointer;
    }
    
}
 